<?xml version="1.0" encoding="utf-8" ?>
<xml>
    <page>
        <name>轻站</name>
        <type>qm-json</type>
        <list>
            <item>
                <name>全球电视</name>
                <info></info>
                <version>20200731</version>
                <sign>2c7eb39b1c599fd4deffd258b1b82465</sign>
                <url>qm-json/全球电视.json</url>
            </item>
            <item>
                <name>QQ音乐</name>
                <info></info>
                <version>5</version>
                <sign>3ed94d3dbba6396430c363d69b2972a2</sign>
                <url>qm-json/QQ音乐.json</url>
            </item>
            <item>
                <name>网易云音乐</name>
                <info></info>
                <version>6</version>
                <sign>38ade8298d305a99b29f65361bedf850</sign>
                <url>qm-json/网易云音乐.json</url>
            </item>
            <item>
                <name>腾讯视频</name>
                <info></info>
                <version>4</version>
                <sign>cac9406cc62d66e88bcb01308d2e8b2f</sign>
                <url>qm-json/腾讯视频.json</url>
            </item>
            <item>
                <name>轻阅读</name>
                <info></info>
                <version>4</version>
                <sign>8627aa09dc5483fe4052a4bcc99024f6</sign>
                <url>qm-json/轻阅读.json</url>
            </item>
            <item>
                <name>Chok吧影视</name>
                <info></info>
                <version>0</version>
                <sign>0dfd99bea3ed49377b34ac952ca9c80e</sign>
                <url>qm-json/Chok吧影视.json</url>
            </item>
            <item>
                <name>263影院</name>
                <info></info>
                <version>0</version>
                <sign>2731b817a1cae5c5c786b683990e028a</sign>
                <url>qm-json/263影院.json</url>
            </item>
            <item>
                <name>随机刷刷</name>
                <info></info>
                <version>1</version>
                <sign>7cee3ccfa685e40ffd50ea5ba83615fe</sign>
                <url>qm-json/随机刷刷.json</url>
            </item>
            <item>
                <name>盐酥鸡</name>
                <info></info>
                <version>1</version>
                <sign>3f32dc60ee750ca49ae2764bab6538f4</sign>
                <url>qm-json/盐酥鸡.json</url>
            </item>
            <item>
                <name>5W电影天堂</name>
                <info></info>
                <version>0</version>
                <sign>8e66d93d053a1ccb2213b7a8c4d7e477</sign>
                <url>qm-json/5W电影天堂.json</url>
            </item>
            <item>
                <name>ADC电影</name>
                <info></info>
                <version>1</version>
                <sign>7c9794a5a7a802162c59a8078ddfb450</sign>
                <url>qm-json/ADC电影.json</url>
            </item>
            <item>
                <name>奈菲影视-0226</name>
                <info></info>
                <version>4</version>
                <sign>92bde35aaf3214f073bef3dbd429f84d</sign>
                <url>qm-json/奈菲影视-0226.json</url>
            </item>
            <item>
                <name>作品集-0130</name>
                <info></info>
                <version>2</version>
                <sign>675d688267782fc5fed2ddb590af0563</sign>
                <url>qm-json/作品集-0130.json</url>
            </item>
            <item>
                <name>斗鱼直播</name>
                <info></info>
                <version>1</version>
                <sign>3e73f8d2663fb36adc29f8770760bb33</sign>
                <url>qm-json/斗鱼直播.json</url>
            </item>
            <item>
                <name>UU影视</name>
                <info></info>
                <version>2</version>
                <sign>41954154922a6933c7ae8197c3ad9d25</sign>
                <url>qm-json/UU影视.json</url>
            </item>
            <item>
                <name>奈菲影视-0213</name>
                <info></info>
                <version>3</version>
                <sign>92bde35aaf3214f073bef3dbd429f84d</sign>
                <url>qm-json/奈菲影视-0213.json</url>
            </item>
            <item>
                <name>TVB云播</name>
                <info></info>
                <version>0</version>
                <sign>156ff2a315309ba329e6b082f6f58fb9</sign>
                <url>qm-json/TVB云播.json</url>
            </item>
            <item>
                <name>网易云音乐-0404</name>
                <info></info>
                <version>5</version>
                <sign>38ade8298d305a99b29f65361bedf850</sign>
                <url>qm-json/网易云音乐-0404.json</url>
            </item>
            <item>
                <name>永久资源网</name>
                <info></info>
                <version>2</version>
                <sign>c5b53a16f21707eadbd4c2228d9a5f2f</sign>
                <url>qm-json/永久资源网.json</url>
            </item>
            <item>
                <name>天乐动漫</name>
                <info></info>
                <version>2</version>
                <sign>135634b4def57578085092e3374073a8</sign>
                <url>qm-json/天乐动漫.json</url>
            </item>
            <item>
                <name>神马影视</name>
                <info></info>
                <version>0</version>
                <sign>844065432b6997e9e2fda701ffc504fc</sign>
                <url>qm-json/神马影视.json</url>
            </item>
            <item>
                <name>IPTV直播(选择线路)</name>
                <info></info>
                <version>0</version>
                <sign>c34d603122aaa592075baa871cddf14f</sign>
                <url>qm-json/IPTV直播(选择线路).json</url>
            </item>
            <item>
                <name>极速云采集资源网-1024</name>
                <info></info>
                <version>0</version>
                <sign>e7b4dc8315ea5cf5fa46713d807fdd67</sign>
                <url>qm-json/极速云采集资源网-1024.json</url>
            </item>
            <item>
                <name>独播库-0329</name>
                <info></info>
                <version>3</version>
                <sign>2d8efe34f03a9bc9307132dab6d6d99c</sign>
                <url>qm-json/独播库-0329.json</url>
            </item>
            <item>
                <name>9亿看看</name>
                <info></info>
                <version>1</version>
                <sign>8b278db231e979b95c10c22c61e8c92a</sign>
                <url>qm-json/9亿看看.json</url>
            </item>
            <item>
                <name>365视频</name>
                <info></info>
                <version>2</version>
                <sign>7f6f9be934c340246cb5d50af5f8fa9e</sign>
                <url>qm-json/365视频.json</url>
            </item>
            <item>
                <name>轻阅读3.0（非网文,支持搜索）</name>
                <info></info>
                <version>4</version>
                <sign>8627aa09dc5483fe4052a4bcc99024f6</sign>
                <url>qm-json/轻阅读3.0（非网文,支持搜索）.json</url>
            </item>
            <item>
                <name>MP4吧-11032</name>
                <info></info>
                <version>0</version>
                <sign>dfe9662769302b55f3f5242192fb7332</sign>
                <url>qm-json/MP4吧-11032.json</url>
            </item>
            <item>
                <name>多源-阅读</name>
                <info></info>
                <version>20200718</version>
                <sign>7aa9c34e56bf46fbec0c83e0c91de954</sign>
                <url>qm-json/多源-阅读.json</url>
            </item>
            <item>
                <name>1717资源(官方同步解析)</name>
                <info></info>
                <version>1</version>
                <sign>44e748414a7b169819a49806fd5e8417</sign>
                <url>qm-json/1717资源(官方同步解析).json</url>
            </item>
            <item>
                <name>侠客分享网</name>
                <info></info>
                <version>0</version>
                <sign>10d7a61ae66472d8e1a0b615af1277e4</sign>
                <url>qm-json/侠客分享网.json</url>
            </item>
            <item>
                <name>新笔趣阁-0130</name>
                <info></info>
                <version>2</version>
                <sign>f176fd13d110c1ff6cee8de0041cc7bf</sign>
                <url>qm-json/新笔趣阁-0130.json</url>
            </item>
            <item>
                <name>问答库</name>
                <info></info>
                <version>1</version>
                <sign>e103da721999511df3bcfe6fd5e6b856</sign>
                <url>qm-json/问答库.json</url>
            </item>
            <item>
                <name>直播源订阅-12231</name>
                <info></info>
                <version>1</version>
                <sign>cd80fa7775868bbbf276fe24da13a0e3</sign>
                <url>qm-json/直播源订阅-12231.json</url>
            </item>
            <item>
                <name>春秋影视-0311</name>
                <info></info>
                <version>2</version>
                <sign>94056e4c13a7eebc71a0082affa72bd6</sign>
                <url>qm-json/春秋影视-0311.json</url>
            </item>
            <item>
                <name>火神山影视</name>
                <info></info>
                <version>0</version>
                <sign>b7415600cf20b47efa068bf5626f63bd</sign>
                <url>qm-json/火神山影视.json</url>
            </item>
            <item>
                <name>卧龙影视-0427</name>
                <info></info>
                <version>6</version>
                <sign>71ede91df8185068cf34684f2d230257</sign>
                <url>qm-json/卧龙影视-0427.json</url>
            </item>
            <item>
                <name>红高粱直播</name>
                <info></info>
                <version>0</version>
                <sign>2569f87544991a8377eceabab0a7adef</sign>
                <url>qm-json/红高粱直播.json</url>
            </item>
            <item>
                <name>主流影站</name>
                <info></info>
                <version>1</version>
                <sign>536be3b31b8c2111d49460eff427efc2</sign>
                <url>qm-json/主流影站.json</url>
            </item>
            <item>
                <name>兔兔影</name>
                <info></info>
                <version>0</version>
                <sign>e18958d103b973593ec29572a3a4b069</sign>
                <url>qm-json/兔兔影.json</url>
            </item>
            <item>
                <name>80s手机电影</name>
                <info></info>
                <version>1</version>
                <sign>7b8a85b927a428c67b7b3a766057155a</sign>
                <url>qm-json/80s手机电影.json</url>
            </item>
            <item>
                <name>如书屋-0130</name>
                <info></info>
                <version>2</version>
                <sign>22547eaec75d59ccea4aa841b01d270d</sign>
                <url>qm-json/如书屋-0130.json</url>
            </item>
            <item>
                <name>多源-阅读①</name>
                <info></info>
                <version>20200719</version>
                <sign>8eabff16921db39be2c4871432439888</sign>
                <url>qm-json/多源-阅读①.json</url>
            </item>
            <item>
                <name>好西好电影-1217</name>
                <info></info>
                <version>1</version>
                <sign>780906d9c6e788bd02b5509cced3c33a</sign>
                <url>qm-json/好西好电影-1217.json</url>
            </item>
            <item>
                <name>80小说网-0130</name>
                <info></info>
                <version>2</version>
                <sign>ee301eb6119448f4b13cfd341844b82d</sign>
                <url>qm-json/80小说网-0130.json</url>
            </item>
            <item>
                <name>冰豆网</name>
                <info></info>
                <version>1</version>
                <sign>df59b904a55fde45261fb3c26e4c4ee5</sign>
                <url>qm-json/冰豆网.json</url>
            </item>
            <item>
                <name>骚火vip(无广告)</name>
                <info></info>
                <version>1</version>
                <sign>2c7828aee6bdd0e1fa716456336e089f</sign>
                <url>qm-json/骚火vip(无广告).json</url>
            </item>
            <item>
                <name>全小说-0130</name>
                <info></info>
                <version>2</version>
                <sign>8d836261092f71018019bdf720b7fd94</sign>
                <url>qm-json/全小说-0130.json</url>
            </item>
            <item>
                <name>豆瓣片单</name>
                <info></info>
                <version>1</version>
                <sign>cbc654e4104d693e3a279d994baf6efb</sign>
                <url>qm-json/豆瓣片单.json</url>
            </item>
            <item>
                <name>直播源订阅-1222</name>
                <info></info>
                <version>1</version>
                <sign>cd80fa7775868bbbf276fe24da13a0e3</sign>
                <url>qm-json/直播源订阅-1222.json</url>
            </item>
            <item>
                <name>聚合直播</name>
                <info></info>
                <version>0</version>
                <sign>2569f87544991a8377eceabab0a7adef</sign>
                <url>qm-json/聚合直播.json</url>
            </item>
            <item>
                <name>老豆瓣资源库-0401</name>
                <info></info>
                <version>1</version>
                <sign>6f7e409bcd8b67b1e753ca9844038273</sign>
                <url>qm-json/老豆瓣资源库-0401.json</url>
            </item>
            <item>
                <name>奇书网</name>
                <info></info>
                <version>1</version>
                <sign>c93e46f293519c34bdc4d33d1908cd47</sign>
                <url>qm-json/奇书网.json</url>
            </item>
            <item>
                <name>卧龙影视(官方版)-0407</name>
                <info></info>
                <version>5</version>
                <sign>a4253c55d423ec3383e35077bee76d35</sign>
                <url>qm-json/卧龙影视(官方版)-0407.json</url>
            </item>
            <item>
                <name>高清资源网</name>
                <info></info>
                <version>2</version>
                <sign>89e6f2ddd978d22791062d5587c9262d</sign>
                <url>qm-json/高清资源网.json</url>
            </item>
            <item>
                <name>1090影视(无广告)</name>
                <info></info>
                <version>1</version>
                <sign>b08db472d8fc357dde7362751d95a448</sign>
                <url>qm-json/1090影视(无广告).json</url>
            </item>
            <item>
                <name>干货集中营</name>
                <info></info>
                <version>0</version>
                <sign>5a29b5f3638a6e47e778f62e42424793</sign>
                <url>qm-json/干货集中营.json</url>
            </item>
            <item>
                <name>云播TV</name>
                <info></info>
                <version>0</version>
                <sign>d95bc8b507a2788cbba771a6dcd297c5</sign>
                <url>qm-json/云播TV.json</url>
            </item>
            <item>
                <name>完美看看(无广告)-0401</name>
                <info></info>
                <version>2</version>
                <sign>20a9221c789039ec4f1e3e4473158583</sign>
                <url>qm-json/完美看看(无广告)-0401.json</url>
            </item>
            <item>
                <name>凤凰小说网-0130</name>
                <info></info>
                <version>2</version>
                <sign>eab507351a569294078e53e087421391</sign>
                <url>qm-json/凤凰小说网-0130.json</url>
            </item>
            <item>
                <name>电视直播</name>
                <info></info>
                <version>0</version>
                <sign>dbe914c4031070c682e25bc8eea2e495</sign>
                <url>qm-json/电视直播.json</url>
            </item>
            <item>
                <name>哔咪哔咪</name>
                <info></info>
                <version>0</version>
                <sign>6c71a4d203b21c6e928e559df079e4b9</sign>
                <url>qm-json/哔咪哔咪.json</url>
            </item>
            <item>
                <name>TV88影视</name>
                <info></info>
                <version>1</version>
                <sign>656766660725399b626b5791b9b77a80</sign>
                <url>qm-json/TV88影视.json</url>
            </item>
            <item>
                <name>9亿看看-0222</name>
                <info></info>
                <version>2</version>
                <sign>8b278db231e979b95c10c22c61e8c92a</sign>
                <url>qm-json/9亿看看-0222.json</url>
            </item>
            <item>
                <name>萌果资源网(官方同步解析)</name>
                <info></info>
                <version>2</version>
                <sign>9bc21f68cd7cb54e8aaea0c9b80bede6</sign>
                <url>qm-json/萌果资源网(官方同步解析).json</url>
            </item>
            <item>
                <name>BT之家-0312</name>
                <info></info>
                <version>2</version>
                <sign>0dcfdc420bf9e9eaf947d94295af60b5</sign>
                <url>qm-json/BT之家-0312.json</url>
            </item>
            <item>
                <name>wd影视大全</name>
                <info></info>
                <version>0</version>
                <sign>af3957ba0d66bc46a41ca938384360ab</sign>
                <url>qm-json/wd影视大全.json</url>
            </item>
            <item>
                <name>海兔影院</name>
                <info></info>
                <version>0</version>
                <sign>47293678b278843377925bb400a3f691</sign>
                <url>qm-json/海兔影院.json</url>
            </item>
            <item>
                <name>直播源订阅-1225</name>
                <info></info>
                <version>2</version>
                <sign>cd80fa7775868bbbf276fe24da13a0e3</sign>
                <url>qm-json/直播源订阅-1225.json</url>
            </item>
            <item>
                <name>豆瓣影视库-加入南瓜影视接口</name>
                <info></info>
                <version>1</version>
                <sign>6fbd53191ff4ebae9ff9f0c50dd2e88c</sign>
                <url>qm-json/豆瓣影视库-加入南瓜影视接口.json</url>
            </item>
            <item>
                <name>哈哩哈哩-0215</name>
                <info></info>
                <version>2</version>
                <sign>683c467f2b8891e821718de0d37a9f85</sign>
                <url>qm-json/哈哩哈哩-0215.json</url>
            </item>
            <item>
                <name>觅元素(克隆)</name>
                <info></info>
                <version>0</version>
                <sign>f01aa314487409bbdd7ca5d8ef04b79e</sign>
                <url>qm-json/觅元素(克隆).json</url>
            </item>
            <item>
                <name>QQ音乐(VIP+数字专辑)-0312</name>
                <info></info>
                <version>2</version>
                <sign>3ed94d3dbba6396430c363d69b2972a2</sign>
                <url>qm-json/QQ音乐(VIP+数字专辑)-0312.json</url>
            </item>
            <item>
                <name>易视TV</name>
                <info></info>
                <version>0</version>
                <sign>3ed196847695530a40cc0698432ad375</sign>
                <url>qm-json/易视TV.json</url>
            </item>
            <item>
                <name>小嘀咕</name>
                <info></info>
                <version>1</version>
                <sign>d65eed47289d8a01fcb7858a8e307f7d</sign>
                <url>qm-json/小嘀咕.json</url>
            </item>
            <item>
                <name>奈菲影视-0211</name>
                <info></info>
                <version>2</version>
                <sign>92bde35aaf3214f073bef3dbd429f84d</sign>
                <url>qm-json/奈菲影视-0211.json</url>
            </item>
            <item>
                <name>平民影视</name>
                <info></info>
                <version>0</version>
                <sign>8b9083d822fa74cfcb5b3b307b6957af</sign>
                <url>qm-json/平民影视.json</url>
            </item>
            <item>
                <name>狗带TV</name>
                <info></info>
                <version>0</version>
                <sign>bb4917a131a43bb4b38fe86292f22ca0</sign>
                <url>qm-json/狗带TV.json</url>
            </item>
            <item>
                <name>期刊杂志</name>
                <info></info>
                <version>1</version>
                <sign>584fad114521a5ad8f6a9dea7b5573bf</sign>
                <url>qm-json/期刊杂志.json</url>
            </item>
            <item>
                <name>老豆瓣资源库</name>
                <info></info>
                <version>0</version>
                <sign>6f7e409bcd8b67b1e753ca9844038273</sign>
                <url>qm-json/老豆瓣资源库.json</url>
            </item>
            <item>
                <name>豆瓣影视库(卧龙+小小)</name>
                <info></info>
                <version>5</version>
                <sign>6fbd53191ff4ebae9ff9f0c50dd2e88c</sign>
                <url>qm-json/豆瓣影视库(卧龙+小小).json</url>
            </item>
            <item>
                <name>轻阅读4.0（非网文,支持搜索）</name>
                <info></info>
                <version>4</version>
                <sign>8627aa09dc5483fe4052a4bcc99024f6</sign>
                <url>qm-json/轻阅读4.0（非网文,支持搜索）.json</url>
            </item>
            <item>
                <name>卧龙影视-0404</name>
                <info></info>
                <version>5</version>
                <sign>71ede91df8185068cf34684f2d230257</sign>
                <url>qm-json/卧龙影视-0404.json</url>
            </item>
            <item>
                <name>樱花动漫</name>
                <info></info>
                <version>0</version>
                <sign>726b77e67cae929a2f6389a8d1661534</sign>
                <url>qm-json/樱花动漫.json</url>
            </item>
            <item>
                <name>看书海-0130</name>
                <info></info>
                <version>2</version>
                <sign>e952c314d08c4ddd9db0faaa6ed4ee3d</sign>
                <url>qm-json/看书海-0130.json</url>
            </item>
            <item>
                <name>果汁影视</name>
                <info></info>
                <version>0</version>
                <sign>4f634a45513810b2573dcdc6acae22c9</sign>
                <url>qm-json/果汁影视.json</url>
            </item>
            <item>
                <name>tv1080影视</name>
                <info></info>
                <version>1</version>
                <sign>007815643bc054226cd93b2f570f47a5</sign>
                <url>qm-json/tv1080影视.json</url>
            </item>
            <item>
                <name>189资源(国外影视剧)</name>
                <info></info>
                <version>1</version>
                <sign>3c3d93a87a1b5d9200bf8ba5dae0f94a</sign>
                <url>qm-json/189资源(国外影视剧).json</url>
            </item>
            <item>
                <name>BT🐱</name>
                <info></info>
                <version>0</version>
                <sign>5c8d63d79d0976109a95ab7edfabe869</sign>
                <url>qm-json/BT🐱.json</url>
            </item>
            <item>
                <name>厂长资源</name>
                <info></info>
                <version>0</version>
                <sign>b9703e2d6da097c1143e0786dd7580a2</sign>
                <url>qm-json/厂长资源.json</url>
            </item>
            <item>
                <name>卧龙影视(官方版)-0406</name>
                <info></info>
                <version>5</version>
                <sign>a4253c55d423ec3383e35077bee76d35</sign>
                <url>qm-json/卧龙影视(官方版)-0406.json</url>
            </item>
            <item>
                <name>井井影院</name>
                <info></info>
                <version>1</version>
                <sign>a16af05c2e7e8b6c21acc82d807bbe5f</sign>
                <url>qm-json/井井影院.json</url>
            </item>
            <item>
                <name>在线之家</name>
                <info></info>
                <version>1</version>
                <sign>90ccb731c92c1623ebb5e232f3f8316f</sign>
                <url>qm-json/在线之家.json</url>
            </item>
            <item>
                <name>谍影视界</name>
                <info></info>
                <version>0</version>
                <sign>e2243b44b21159074f4d3bcfc73be647</sign>
                <url>qm-json/谍影视界.json</url>
            </item>
            <item>
                <name>樱花影院</name>
                <info></info>
                <version>1</version>
                <sign>b4b147bc522828731f1a016bfa72c073</sign>
                <url>qm-json/樱花影院.json</url>
            </item>
            <item>
                <name>杂志</name>
                <info></info>
                <version>0</version>
                <sign>f92b5d09391c66b483298a7bde576cc0</sign>
                <url>qm-json/杂志.json</url>
            </item>
            <item>
                <name>达达兔</name>
                <info></info>
                <version>1</version>
                <sign>89dbd065fbbf8ec2074c4df4378e8ee2</sign>
                <url>qm-json/达达兔.json</url>
            </item>
            <item>
                <name>MSU华人影院</name>
                <info></info>
                <version>0</version>
                <sign>3e3b370498532a27b09a29a97632d5f4</sign>
                <url>qm-json/MSU华人影院.json</url>
            </item>
            <item>
                <name>虎牙直播-02122</name>
                <info></info>
                <version>4</version>
                <sign>95a948ec7ccc04996bcd420eaed95ebe</sign>
                <url>qm-json/虎牙直播-02122.json</url>
            </item>
            <item>
                <name>直播源订阅-1.3</name>
                <info></info>
                <version>2</version>
                <sign>cd80fa7775868bbbf276fe24da13a0e3</sign>
                <url>qm-json/直播源订阅-1.3.json</url>
            </item>
            <item>
                <name>电影盒子(无广告)</name>
                <info></info>
                <version>1</version>
                <sign>66c7de3e1e564adc1e45c6af2da8c10f</sign>
                <url>qm-json/电影盒子(无广告).json</url>
            </item>
            <item>
                <name>桑舞小说-1.14</name>
                <info></info>
                <version>3</version>
                <sign>08c91df3d1d9ec748f4d7f75fe981b35</sign>
                <url>qm-json/桑舞小说-1.14.json</url>
            </item>
            <item>
                <name>无双影视</name>
                <info></info>
                <version>0</version>
                <sign>57d3c6eb4bd38e99e1ba33e22a49ef46</sign>
                <url>qm-json/无双影视.json</url>
            </item>
            <item>
                <name>漫画全</name>
                <info></info>
                <version>4</version>
                <sign>c3c11c2cb445cb259b0ee27357077dae</sign>
                <url>qm-json/漫画全.json</url>
            </item>
            <item>
                <name>段友影视</name>
                <info></info>
                <version>1</version>
                <sign>2b67e819bca10f7f96f3c9ccfa24302c</sign>
                <url>qm-json/段友影视.json</url>
            </item>
            <item>
                <name>轻阅读2.0（非网文,支持搜索）</name>
                <info></info>
                <version>4</version>
                <sign>f92b5d09391c66b483298a7bde576cc0</sign>
                <url>qm-json/轻阅读2.0（非网文,支持搜索）.json</url>
            </item>
            <item>
                <name>源仓库-m浏览器</name>
                <info></info>
                <version>2</version>
                <sign>ace8a0ab7ed3937683e169477143ad90</sign>
                <url>qm-json/源仓库-m浏览器.json</url>
            </item>
            <item>
                <name>影站聚集</name>
                <info></info>
                <version>1</version>
                <sign>712dad55022eb9555c70a92178faf3fb</sign>
                <url>qm-json/影站聚集.json</url>
            </item>
            <item>
                <name>4k天堂影院-1112</name>
                <info></info>
                <version>0</version>
                <sign>5191bb3a22dbe357166e9ccf1beb2efc</sign>
                <url>qm-json/4k天堂影院-1112.json</url>
            </item>
            <item>
                <name>奈菲影视</name>
                <info></info>
                <version>4</version>
                <sign>92bde35aaf3214f073bef3dbd429f84d</sign>
                <url>qm-json/奈菲影视.json</url>
            </item>
            <item>
                <name>看看(克隆)</name>
                <info></info>
                <version>4</version>
                <sign>d300007940943fb475b86fb97431a252</sign>
                <url>qm-json/看看(克隆).json</url>
            </item>
            <item>
                <name>樱花动漫-0409</name>
                <info></info>
                <version>2</version>
                <sign>795f593f79880eaaa74e5dc142838638</sign>
                <url>qm-json/樱花动漫-0409.json</url>
            </item>
            <item>
                <name>哔嘀影视</name>
                <info></info>
                <version>1</version>
                <sign>adedad462d6d919bdc6b6684a8995f1f</sign>
                <url>qm-json/哔嘀影视.json</url>
            </item>
        </list>
    </page>
    <page>
        <name>脚本</name>
        <type>js</type>
        <list>
            <item>
                <name>Eruda</name>
                <info>Eruda 是一个专为手机网页前端设计的调试面板，类似 DevTools 的迷你版，其主要功能包括：捕获 console 日志、检查元素状态、捕获XHR请求、显示本地存储和 Cookie 信息等等。</info>
                <version>2.3.3</version>
                <url>js/eruda.js</url>
            </item>
            
            <item>
                <name>贴吧展开</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧展开.js.json</url>
            </item>
            <item>
                <name>去百度广告</name>
                <info></info>
                <version>1</version>
                <url>js/去百度广告.js.json</url>
            </item>
            <item>
                <name>清除百度搜索广告</name>
                <info></info>
                <version>1</version>
                <url>js/清除百度搜索广告.js.json</url>
            </item>
            <item>
                <name>小小影视</name>
                <info></info>
                <version>1</version>
                <url>js/小小影视.js.json</url>
            </item>
            <item>
                <name>回到顶底部</name>
                <info></info>
                <version>1</version>
                <url>js/回到顶底部.js.json</url>
            </item>
            <item>
                <name>夜间模式</name>
                <info></info>
                <version>1</version>
                <url>js/夜间模式.js.json</url>
            </item>
            <item>
                <name>手机按钮工具箱</name>
                <info></info>
                <version>1</version>
                <url>js/手机按钮工具箱.js.json</url>
            </item>
            <item>
                <name>global_9_隐藏悬浮</name>
                <info></info>
                <version>1</version>
                <url>js/global_9_隐藏悬浮.js.json</url>
            </item>
            <item>
                <name>global_3_美化字体</name>
                <info></info>
                <version>1</version>
                <url>js/global_3_美化字体.js.json</url>
            </item>
            <item>
                <name>知乎直接看</name>
                <info></info>
                <version>1</version>
                <url>js/知乎直接看.js.json</url>
            </item>
            <item>
                <name>万能命令.user</name>
                <info></info>
                <version>1</version>
                <url>js/万能命令.user.js.json</url>
            </item>
            <item>
                <name>自动夜间模式</name>
                <info></info>
                <version>1</version>
                <url>js/自动夜间模式.js.json</url>
            </item>
            <item>
                <name>隐藏广告</name>
                <info></info>
                <version>1</version>
                <url>js/隐藏广告.js.json</url>
            </item>
            <item>
                <name>手机广告拦截</name>
                <info></info>
                <version>1</version>
                <url>js/手机广告拦截.js.json</url>
            </item>
            <item>
                <name>VIP视频解析</name>
                <info></info>
                <version>1</version>
                <url>js/VIP视频解析.js.json</url>
            </item>
            <item>
                <name>小说阅读</name>
                <info></info>
                <version>1</version>
                <url>js/小说阅读.js.json</url>
            </item>
            <item>
                <name>自定义改进版本</name>
                <info></info>
                <version>1</version>
                <url>js/自定义改进版本.js.json</url>
            </item>
            <item>
                <name>链接可点击</name>
                <info></info>
                <version>1</version>
                <url>js/链接可点击.js.json</url>
            </item>
            <item>
                <name>baiduyun.user</name>
                <info></info>
                <version>1</version>
                <url>js/baiduyun.user.js.json</url>
            </item>
            <item>
                <name>global_C站</name>
                <info></info>
                <version>1</version>
                <url>js/global_C站.js.json</url>
            </item>
            <item>
                <name>贴吧去广告看回复</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧去广告看回复.js.json</url>
            </item>
            <item>
                <name>Pure百度美化</name>
                <info></info>
                <version>1</version>
                <url>js/Pure百度美化.js.json</url>
            </item>
            <item>
                <name>纯净苍空</name>
                <info></info>
                <version>1</version>
                <url>js/纯净苍空.js.json</url>
            </item>
            <item>
                <name>视频增强</name>
                <info></info>
                <version>1</version>
                <url>js/视频增强.js.json</url>
            </item>
            <item>
                <name>360</name>
                <info></info>
                <version>1</version>
                <url>js/360.js.json</url>
            </item>
            <item>
                <name>悬浮翻页</name>
                <info></info>
                <version>1</version>
                <url>js/悬浮翻页.js.json</url>
            </item>
            <item>
                <name>oo.movie</name>
                <info></info>
                <version>1</version>
                <url>js/oo.movie.js.json</url>
            </item>
            <item>
                <name>野径云俱黑，江船火独明</name>
                <info></info>
                <version>1</version>
                <url>js/野径云俱黑，江船火独明.js.json</url>
            </item>
            <item>
                <name>百度文库</name>
                <info></info>
                <version>1</version>
                <url>js/百度文库.js.json</url>
            </item>
            <item>
                <name>global_觅影</name>
                <info></info>
                <version>1</version>
                <url>js/global_觅影.js.json</url>
            </item>
            <item>
                <name>去除电信运营商劫持广告.user</name>
                <info></info>
                <version>1</version>
                <url>js/去除电信运营商劫持广告.user.js.json</url>
            </item>
            <item>
                <name>贴吧</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧.js.json</url>
            </item>
            <item>
                <name>觅影去搜索.user</name>
                <info></info>
                <version>1</version>
                <url>js/觅影去搜索.user.js.json</url>
            </item>
            <item>
                <name>彩虹小译.user</name>
                <info></info>
                <version>1</version>
                <url>js/彩虹小译.user.js.json</url>
            </item>
            <item>
                <name>江小白手机广告拦截自改</name>
                <info></info>
                <version>1</version>
                <url>js/江小白手机广告拦截自改.js.json</url>
            </item>
            <item>
                <name>贴吧增强</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧增强.js.json</url>
            </item>
            <item>
                <name>链接文字可点击</name>
                <info></info>
                <version>1</version>
                <url>js/链接文字可点击.js.json</url>
            </item>
            <item>
                <name>IT之家手机版去广告</name>
                <info></info>
                <version>1</version>
                <url>js/IT之家手机版去广告.js.json</url>
            </item>
            <item>
                <name>懒人专用</name>
                <info></info>
                <version>1</version>
                <url>js/懒人专用.js.json</url>
            </item>
            <item>
                <name>百度网盘资源_搜索引擎_聚合</name>
                <info></info>
                <version>1</version>
                <url>js/百度网盘资源_搜索引擎_聚合.js.json</url>
            </item>
            <item>
                <name>小净化</name>
                <info></info>
                <version>1</version>
                <url>js/小净化.js.json</url>
            </item>
            <item>
                <name>觅影</name>
                <info></info>
                <version>1</version>
                <url>js/觅影.js.json</url>
            </item>
            <item>
                <name>贴吧可看动图</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧可看动图.js.json</url>
            </item>
            <item>
                <name>会员VIP解析免费看江小白</name>
                <info></info>
                <version>1</version>
                <url>js/会员VIP解析免费看江小白.js.json</url>
            </item>
        </list>
    </page>
    <page>
        <name>Adblock规则</name>
        <type>ad</type>
        <list>
            <item>
                <name>EasyList</name>
                <info></info>
                <version>5</version>
                <url>adblock/easylist.xml</url>
            </item>
            <item>
                <name>EasyList China</name>
                <info></info>
                <version>5</version>
                <url>adblock/easylistchina.xml</url>
            </item>
            <item>
                <name>X浏览器拦截规则国内版本</name>
                <info>x浏览器针对国内版本的内建规则，由官方统一维护</info>
                <version>5</version>
                <url>adblock/core-rule-cn.xml</url>
            </item>
            <item>
                <name>XBrowser core Ad-Rules </name>
                <info></info>
                <version>5</version>
                <url>adblock/xb_core_rule.xml</url>
            </item>
        </list>
    </page>
</xml>



