<?xml version="1.0" encoding="utf-8" ?>
<xml>
    <page>
        <name>轻站</name>
        <type>qm-json</type>
        <list>
            <item>
                <name>全球电视</name>
                <info></info>
                <version>20200731</version>
                <sign>2c7eb39b1c599fd4deffd258b1b82465</sign>
                <url>qm-json/全球电视.json</url>
            </item>
            <item>
                <name>QQ音乐</name>
                <info></info>
                <version>5</version>
                <sign>3ed94d3dbba6396430c363d69b2972a2</sign>
                <url>qm-json/QQ音乐.json</url>
            </item>
            <item>
                <name>网易云音乐</name>
                <info></info>
                <version>6</version>
                <sign>38ade8298d305a99b29f65361bedf850</sign>
                <url>qm-json/网易云音乐.json</url>
            </item>
            <item>
                <name>腾讯视频</name>
                <info></info>
                <version>4</version>
                <sign>cac9406cc62d66e88bcb01308d2e8b2f</sign>
                <url>qm-json/腾讯视频.json</url>
            </item>
            <item>
                <name>轻阅读</name>
                <info></info>
                <version>4</version>
                <sign>8627aa09dc5483fe4052a4bcc99024f6</sign>
                <url>qm-json/轻阅读.json</url>
            </item>
            <item>
                <name>关于</name>
                <info>该条不可安装，投稿邮箱：ecodemo@126.com，欢迎投稿</info>
                <version>0</version>
                <sign></sign>
                <url></url>
            </item>
        </list>
    </page>
    <page>
        <name>脚本</name>
        <type>js</type>
        <list>
            <item>
                <name>Eruda</name>
                <info>Eruda 是一个专为手机网页前端设计的调试面板，类似 DevTools 的迷你版，其主要功能包括：捕获 console 日志、检查元素状态、捕获XHR请求、显示本地存储和 Cookie 信息等等。</info>
                <version>2.3.3</version>
                <url>js/eruda.js</url>
            </item>
            <item>
                <name>去百度广告</name>
                <info></info>
                <version>1</version>
                <url>js/去百度广告.js</url>
            </item>
            <item>
                <name>小小影视</name>
                <info></info>
                <version>1</version>
                <url>js/小小影视.js</url>
            </item>
            <item>
                <name>回到顶底部</name>
                <info></info>
                <version>1</version>
                <url>js/回到顶底部.js</url>
            </item>
            <item>
                <name>夜间模式</name>
                <info></info>
                <version>1</version>
                <url>js/夜间模式.js</url>
            </item>
            <item>
                <name>手机按钮工具箱</name>
                <info></info>
                <version>1</version>
                <url>js/手机按钮工具箱.js</url>
            </item>
            <item>
                <name>隐藏悬浮</name>
                <info></info>
                <version>1</version>
                <url>js/global_9_隐藏悬浮.js</url>
            </item>
            <item>
                <name>美化字体</name>
                <info></info>
                <version>1</version>
                <url>js/global_3_美化字体.js</url>
            </item>
            <item>
                <name>知乎直接看</name>
                <info></info>
                <version>1</version>
                <url>js/知乎直接看.js</url>
            </item>
            <item>
                <name>万能命令.user</name>
                <info></info>
                <version>1</version>
                <url>js/万能命令.user.js</url>
            </item>
            <item>
                <name>自动夜间模式</name>
                <info></info>
                <version>1</version>
                <url>js/自动夜间模式.js</url>
            </item>
            <item>
                <name>隐藏广告</name>
                <info></info>
                <version>1</version>
                <url>js/隐藏广告.js</url>
            </item>
            <item>
                <name>手机广告拦截</name>
                <info></info>
                <version>1</version>
                <url>js/手机广告拦截.js</url>
            </item>
            <item>
                <name>VIP视频解析</name>
                <info></info>
                <version>1</version>
                <url>js/VIP视频解析.js</url>
            </item>
            <item>
                <name>小说阅读</name>
                <info></info>
                <version>1</version>
                <url>js/小说阅读.js</url>
            </item>
            <item>
                <name>搜索跳转修复版</name>
                <info></info>
                <version>1</version>
                <url>js/搜索跳转修复版.js</url>
            </item>
            <item>
                <name>链接可点击</name>
                <info></info>
                <version>1</version>
                <url>js/链接可点击.js</url>
            </item>
            <item>
                <name>贴吧去广告看回复</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧去广告看回复.js</url>
            </item>
            <item>
                <name>Pure百度美化</name>
                <info></info>
                <version>1</version>
                <url>js/Pure百度美化.js</url>
            </item>
            <item>
                <name>纯净苍空</name>
                <info></info>
                <version>1</version>
                <url>js/纯净苍空.js</url>
            </item>
            <item>
                <name>视频增强</name>
                <info></info>
                <version>1</version>
                <url>js/视频增强.js</url>
            </item>
            <item>
                <name>360</name>
                <info></info>
                <version>1</version>
                <url>js/360.js</url>
            </item>
            <item>
                <name>悬浮翻页</name>
                <info></info>
                <version>1</version>
                <url>js/悬浮翻页.js</url>
            </item>
            <item>
                <name>oo.movie</name>
                <info></info>
                <version>1</version>
                <url>js/oo.movie.js</url>
            </item>
            <item>
                <name>百度文库</name>
                <info></info>
                <version>1</version>
                <url>js/百度文库.js</url>
            </item>
            <item>
                <name>global_觅影</name>
                <info></info>
                <version>1</version>
                <url>js/global_觅影.js</url>
            </item>
            <item>
                <name>去除电信运营商劫持广告</name>
                <info></info>
                <version>1</version>
                <url>js/去除电信运营商劫持广告.user.js</url>
            </item>
            <item>
                <name>觅影去搜索</name>
                <info></info>
                <version>1</version>
                <url>js/觅影去搜索.user.js</url>
            </item>
            <item>
                <name>彩虹小译.user</name>
                <info></info>
                <version>1</version>
                <url>js/彩虹小译.user.js</url>
            </item>
            <item>
                <name>江小白手机广告拦截自改</name>
                <info></info>
                <version>1</version>
                <url>js/江小白手机广告拦截自改.js</url>
            </item>
            <item>
                <name>贴吧增强</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧增强.js</url>
            </item>
            <item>
                <name>链接文字可点击</name>
                <info></info>
                <version>1</version>
                <url>js/链接文字可点击.js</url>
            </item>
            <item>
                <name>IT之家手机版去广告</name>
                <info></info>
                <version>1</version>
                <url>js/IT之家手机版去广告.js</url>
            </item>
            <item>
                <name>懒人专用</name>
                <info></info>
                <version>1</version>
                <url>js/懒人专用.js</url>
            </item>
            <item>
                <name>百度网盘资源_搜索引擎_聚合</name>
                <info></info>
                <version>1</version>
                <url>js/百度网盘资源_搜索引擎_聚合.js</url>
            </item>
            <item>
                <name>小净化</name>
                <info></info>
                <version>1</version>
                <url>js/小净化.js</url>
            </item>
            <item>
                <name>觅影</name>
                <info></info>
                <version>1</version>
                <url>js/觅影.js</url>
            </item>
            <item>
                <name>贴吧可看动图</name>
                <info></info>
                <version>1</version>
                <url>js/贴吧可看动图.js</url>
            </item>
            <item>
                <name>会员VIP解析免费看江小白</name>
                <info></info>
                <version>1</version>
                <url>js/会员VIP解析免费看江小白.js</url>
            </item>
            <item>
                <name>关于</name>
                <info>该条不可安装，投稿邮箱：ecodemo@126.com，欢迎投稿</info>
                <version>0</version>
                <sign></sign>
                <url></url>
            </item>
        </list>
    </page>
    <page>
        <name>Adblock规则</name>
        <type>ad</type>
        <list>
            <item>
                <name>EasyList</name>
                <info></info>
                <version>5</version>
                <url>https://easylist-downloads.adblockplus.org/easylist.txt</url>
            </item>
            <item>
                <name>EasyList China</name>
                <info></info>
                <version>5</version>
                <url>https://easylist-downloads.adblockplus.org/easylistchina.txt</url>
            </item>
            <item>
                <name>EasyList Privacy</name>
                <info></info>
                <version>5</version>
                <url>https://easylist-downloads.adblockplus.org/easyprivacy.txt</url>
            </item>
            <item>
                <name>Malware Domains Full</name>
                <info></info>
                <version>5</version>
                <url>https://easylist-downloads.adblockplus.org/malwaredomains_full.txt</url>
            </item>
            <item>
                <name>X浏览器拦截规则国内版本</name>
                <info>x浏览器针对国内版本的内建规则，由官方统一维护</info>
                <version>5</version>
                <url>https://cdn.jsdelivr.net/gh/examplecode/ad-rules-for-xbrowser@latest/core-rule-cn.txt</url>
            </item>
            <item>
                <name>关于</name>
                <info>该条不可安装，投稿邮箱：ecodemo@126.com，欢迎投稿</info>
                <version>0</version>
                <sign></sign>
                <url></url>
            </item>
        </list>
    </page>
</xml>